<section data-ng-controller="PostsController" data-ng-init="find()">
  <div class="page-header">
    <h1>Posts</h1>
  </div>
  <div class="list-group">
    <a data-ng-repeat="post in posts" data-ui-sref="posts.view({postId: post._id})" class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span data-ng-bind="post.created | date:'mediumDate'"></span>
        by
        <span data-ng-bind="post.user.displayName"></span>
      </small>
      <h4 class="list-group-item-heading" data-ng-bind="post.title"></h4>
      <!--<p class="list-group-item-text" data-ng-bind="post.content"></p>-->
    </a>
  </div>
  <div class="alert alert-warning text-center" data-ng-if="posts.$resolved && !posts.length">
    No posts yet, why don't you <a data-ui-sref="posts.create">create one</a>?
  </div>
</section>
