<section data-ng-controller="PostsController" data-ng-init="findOne()">
  <div class="page-header">
    <h1 data-ng-bind="post.title"></h1>
  </div>
  <div class="pull-right" data-ng-show="authentication.user._id == post.user._id">
    <a class="btn btn-primary" data-ui-sref="posts.edit({postId: post._id})">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" data-ng-click="remove();">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Posted on
      <span data-ng-bind="post.created | date:'mediumDate'"></span>
      by
      <span data-ng-bind="post.user.displayName"></span>
    </em>
  </small>
  <p class="lead" data-ng-bind="post.content"></p>
</section>
