<section data-ng-controller="HomeController">
  <div class="jumbotron text-center">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
        <h1>chess</h1>
      </div>
    </div>
    <br>
    <div class="row">
      <p class="lead">
        Angular JS chess algo.<br>
        Solve for max lookahead depth "at scale".<br>
        Make fluffy, schemaless mongo db run like lightening.
      </p>
    </div>
  </div>

  <div>
    <h2>Welcome</h2>
    <p>Play against my chess algo; be a little social if you want, too.</p>
    <ul>
      <li>
        Click <em>Signup</em> to get started.
      </li>
    </ul>
  </div>

</section>
