<section data-ng-controller="GamesController">
  <div class="page-header">
    <h1>New Game</h1>
  </div>
  <div class="col-md-12">
    <form name="gameForm" class="form-horizontal" data-ng-submit="create()" novalidate>
      <fieldset>
        <div class="form-group">
          <label class="control-label" for="title">Title</label>
          <div class="controls">
            <input name="title" type="text" data-ng-model="title" id="title" class="form-control" placeholder="Title">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" for="content">Description</label>
          <div class="controls">
            <textarea name="content" data-ng-model="content" id="content" class="form-control" cols="30" rows="10" placeholder="Description"></textarea>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" for="optSide">Computer Plays</label>
          <div class="controls">
            <select
                    name="optSide"
                    id="optSide"
                    class="form-control"
                    ng-model="_pref.side"
                    ng-options="color.id as color.value for color in _const.color"
                    ng-change="assignPrefs()"
                    ></select>
          </div>
        </div>
        <div class="form-group">
          <input type="submit" class="btn btn-default">
        </div>
        <div data-ng-show="error" class="text-danger">
          <strong data-ng-bind="error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
