<section data-ng-controller="GamesController" data-ng-init="findOne()">
  <div class="page-header">
    <h1>Edit Game</h1>
  </div>
  <div class="col-md-12">
    <form name="gameForm" class="form-horizontal" data-ng-submit="update()" novalidate>
      <fieldset>
        <div class="form-group">
          <label class="control-label" for="title">Title</label>
          <div class="controls">
            <input name="title" type="text" data-ng-model="game.title" id="title" class="form-control" placeholder="Title" required>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" for="content">Content</label>
          <div class="controls">
            <textarea name="content" data-ng-model="game.content" id="content" class="form-control" cols="30" rows="10" placeholder="Content"></textarea>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" for="data">Data</label>
          <div class="controls">
<!--
            <textarea name="data" data-ng-model="game.data" id="data" class="form-control" cols="30" rows="10" placeholder="Data">{{toJson(game.data)}}</textarea>
-->
            <textarea readonly="readonly" name="data" id="data" class="preWrap form-control" cols="30" rows="10" placeholder="Data">{{(game.data | json)}}</textarea>
          </div>
        </div>
        <div class="form-group">
          <input type="submit" value="Update" class="btn btn-default">
        </div>
        <div data-ng-show="error" class="text-danger">
          <strong data-ng-bind="error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
