<section data-ng-controller="GamesController" data-ng-init="findOne()">
  <div class="page-header">
    <h1 data-ng-bind="game.title"></h1>
  </div>
  <div class="pull-right" data-ng-show="authentication.user._id == game.user._id">
    <a class="btn btn-primary" data-ui-sref="games.edit({gameId: game._id})">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" data-ng-click="remove();">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Posted on
      <span data-ng-bind="game.created | date:'mediumDate'"></span>
      by
      <span data-ng-bind="game.user.displayName"></span>
    </em>
  </small>
  <p class="lead" data-ng-bind="game.content"></p>
  <div class="well preWrap" data-ng-bind="(game.data | json)"></div>
</section>
